/*----------------------------------------*/
/*----------------MOBILE------------------*/
/*----------------------------------------*/
.userCard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: white;
}

.userCard-avatarAndInfoContainer {
  display: flex;
  flex: 1;
  gap: 0.5rem;
}

.userCard-email {
  display: none;
}
.userCard-managerEmail {
  display: none;
}

.userCard-office {
  display: none;
}

.container-manager {
  align-self: flex-end;
}

.userCard-avatarContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}

.userCard-userInfo {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
}

.userCard-name {
  font-weight: bold;
  font-size: 1rem;
}

.container-manager {
  display: none;
}

.userCard-role {
  flex: 1;
  min-width: 100px;
  text-align: center;
}

.userCard-office {
  flex: 1;
  min-width: 100px;
  text-align: center;
}

.userCard-managerAvatar {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}

.userCard-managerInfo {
  display: flex;
  flex-direction: column;
  
}

.userCard-managerName {
  font-size: 0.9rem;
}

.userCard-managerEmail {
    display: none;
  }

.userCard-noManager {
  display: none;
}

.noManager-icon {
  color: #c0392b;
}

/*----------------------------------------*/
/*----------------TABLET------------------*/
/*----------------------------------------*/
@media (min-width: 480px) {
    
  .userCard-email {
    display: none;
  }
  .userCard-managerEmail {
    display: none;
  }

  .userCard-office {
    display: block;
  }

  .userCard-avatarAndInfoContainer {
    display: flex;
    flex: 1;
    gap: 0.5rem;
  }
  .container-manager {
    justify-content: flex-end;
  }
}

/*----------------------------------------*/
/*----------------DESKTOP------------------*/
/*----------------------------------------*/
@media (min-width: 1024px) {
  .userCard-container {
    padding: var(--padding-lg);
  }

  .container-manager {
    justify-content: center;
  }

  .userCard-email {
    display: block;
    font-size: 0.8rem;
    color: #666;
  }

  .userCard-managerEmail {
  display: block;
  font-size: 0.8rem;
  color: #666;
}

.userCard-noManager {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #888;
  font-style: italic;
}
}
