/* Add this to your main CSS file (before :root) */
@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Khula&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');
/* src/styles/global.css */
:root {
  /* Colors */
  --primary: #9C2F31;
  --secondary: #88909F;
  --text: #000000;
  --tertiary:#FAFAFA;
  --error: #f72585;
  --blue: #424359;
  --light-red: #B61B23;
  --background-color: #ffff;
  
  /* Fonts */
  --font-family-main: 'Montserrat', sans-serif;
  --font-family-secondary: 'Catamaran', sans-serif;
  --font-family-heading: 'Istok Web', sans-serif;

  /* Font Size */
  --font-size-title: 2rem;
  --font-size-subtitle: 1.5rem;
  --font-size-main: 1rem;

   /* Font Weights */
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  /* Shadows */
  --shadow-text: 4px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-card: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-button: 0 2px 6px rgba(0, 0, 0, 0.2);

  /* Breakpoints */
  --bp-mobile: 0px;      /* Default: all mobile styles */
  --bp-tablet: 768px;    /* iPad portrait and larger */
  --bp-desktop: 1024px;  /* Small laptops and up */

  /* Global spacing system */
  --paddingLanding-sm: 0px 32px;    /* Mobile */
  --paddingLanding-md: 0px 32px;    /* Tablet */
  --paddingLanding-lg: 0px 78px; /* Desktop */

  --padding-sm: 0px 32px;    /* Mobile */
  --padding-md: 0px 32px;    /* Tablet */
  --padding-lg: 0px 78px; /* Desktop */


  
  /* Spacing */
  --gap-sm: 8px;
  --gap-md: 16px;
}

/* Input fields for text input by the user */
input{
    width: 100%;
    height: 40px;
    border: 2px solid #cbb4b4;
    border-radius: 10px;
    box-shadow: var(--shadow-text);
    padding: 8px 12px;
    font-size: 16px;
}

/* Main button style */
.main-button {
    width: 100%;
    max-width: 230px;
    height: 45px;
    border-radius: 10px;
    background: #9c2f31;
    border: 2px solid #cbb4b4;
    color: #fff;
    font-family: var(--font-secondary);
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


