/* src/styles/global.css */
:root {
  /* Colors */
  --primary: #9C2F31;
  --secondary: #88909F;
  --text: #000000;
  --tertiary:#FAFAFA;
  --error: #f72585;
  --blue: #424359;
  --light-red: #B61B23;
  
  /* Fonts */
  --font-main: 'Khula', sans-serif;
  --font-secondary: 'Catamaran', sans-serif;
  --font-heading: 'iStok Web', sans-serif;
  
  /* Spacing */
  --gap-sm: 8px;
  --gap-md: 16px;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


